<div transition:animate="slide" class="nav-links">
    <a href="/Astro-Tutorila/">Home</a>
    <a href="/Astro-Tutorila/about/" data-astro-reload>About</a>
    <a href="/Astro-Tutorila/blog/">Blog</a>
    <a href="/Astro-Tutorila/tags/">Tags</a>
</div>