<div class="nav-links">
    <a href="/Astro-Tutorila/">Home</a>
    <a href="/Astro-Tutorila/about/">About</a>
    <a href="/Astro-Tutorila/blog/">Blog</a>
    <a href="/Astro-Tutorila/tags/">Tags</a>
</div>